{% set isProprietaire = app.user.id == utilisateur.id %}
<section class="bg-secondary p-8 flex max-w-5xl m-auto flex-wrap">
	<div class="w-full md:w-1/2 flex justify-center items-center">
		{% if utilisateur.avatar %}
			<img src={{asset('images/avatars/' ~ utilisateur.avatar)}} alt="" class=" w-full m-auto max-h-[400px] object-cover">
		{% else %}
			<img src={{asset('images/avatars/default_avatar.svg')}} alt="" class=" w-full max-w-[300px] m-auto">
		{% endif %}
	</div>
	<div class="w-full md:w-1/2 space-y-4 relative shadow-md p-4 bg-background stroke-primary/60">
		{% if isProprietaire %}

			<a href={{path("app_modification_profile_page")}} class="absolute top-4 right-4 hover:scale-110 transition-all cursor-pointer border border-primary p-1 rounded-sm">
				{% include "components/icons/edition.icon.twig" %}
			</a>
		{% endif %}

		<h2 class="text-2xl font-extrabold">{{utilisateur.pseudo}}</h2>
		<div class="flex">
			<div class="w-1/2">
				<div class="flex items-center gap-2">
					<img class="w-4 h-4" src={{asset('icons/email_icon.svg')}}>
					<p>
						{{utilisateur.email}}
					</p>
				</div>

				<div class="flex items-center gap-2">
					<img class="w-4 h-4" src={{asset('icons/telephone_icon.svg')}}>
					<p>
						{{utilisateur.telephone  ?? "N/A"}}
					</p>
				</div>
			</div>
			<div class="w-1/2">
				<div class="flex items-center gap-2">
					<img class="w-4 h-4" src={{asset('icons/emploi_icon.svg')}}>
					<p>
						{{utilisateur.emploi ?? "N/A"}}
					</p>
				</div>

				<div class="flex items-center gap-2">
					<img class="w-4 h-4" src={{asset('icons/website_icon.svg')}}>
					<p>
						{{utilisateur.siteURL ?? "N/A"}}
					</p>
				</div>
			</div>
		</div>

		<div class="">
			<h3 class="text-lg font-bold underline">Description:</h3>
			<p class={{utilisateur.description ? "text-primary/80":"text-primary/50"}}>
				{{utilisateur.description|default("Vous n'avez pas encore ajouté de déscription à votre profile...")}}
			</p>
		</div>
	</div>
</section>
